In [23]:
import pandas as pd

artist_df = pd.read_csv("artists.csv")


print(artist_df.head())

print(artist_df.shape)

#removing nan values from dataframe
artist_data = artist_df.dropna()

#make another column with header age = death year - birth year
artist_data['Age'] = artist_data['Death Year'] - artist_data['Birth Year']
#artist_data['Age'] = artist_data.apply(lambda row: artist_data['Death Year'] - artist_data['Birth Year'], axis=1)

print(artist_data.head())
artist_data.shape

   Artist ID             Name Nationality Gender  Birth Year  Death Year
0          1   Robert Arneson    American   Male      1930.0      1992.0
1          2   Doroteo Arnaiz     Spanish   Male      1936.0         NaN
2          3      Bill Arnold    American   Male      1941.0         NaN
3          4  Charles Arnoldi    American   Male      1946.0         NaN
4          5      Per Arnoldi      Danish   Male      1941.0         NaN
(15091, 6)
    Artist ID                 Name Nationality Gender  Birth Year  Death Year  \
0           1       Robert Arneson    American   Male      1930.0      1992.0
9          11      Jean (Hans) Arp      French   Male      1886.0      1966.0
11         13  J. Arrelano Fischer     Mexican   Male      1911.0      1995.0
12         15        Folke Arstrom     Swedish   Male      1907.0      1997.0
13         16    Cristobal Arteche     Spanish   Male      1900.0      1964.0

     Age
0   62.0
9   80.0
11  84.0
12  90.0
13  64.0

<ipython-input-23-b5a44b1e5c08>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  artist_data['Age'] = artist_data['Death Year'] - artist_data['Birth Year']

(4429, 7)